@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{background-color: black;
width: 100vw;
height: 100vh;
}

body{
    background: url('../pacote-d013/imagens/fundo-madeira.jpg')
    no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
position: relative;
height: 100vh;}

#celular{
    position: absolute;
    background: url(../pacote-d013/imagens/frame-iphone.png);
    width: 311px;
    height: 627px;

    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}

#tela{
    position: relative;
    top: 78px;
    left: 21px;

    width: 269px;
    height: 480px;
}

section#apps{ text-align: right;}

#apps img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.369);
    box-sizing: border-box;
}

#apps img:hover{
    border: 2px solid rgba(255, 255, 255, 0.673);
}

